{% extends 'base.html' %}
{% load staticfiles %}

{% block main %}
    <div class="container center content">
    {% if universities %}
        <div class="row">
        {% for university in universities %}
            <div class="col s4">
                <div class="card blue-grey darken-1 hoverable university-item">
                    <div class="card-content white-text">
                        <a class="white-text" href="{% url 'university-detail' university.pk %}">
                            <img src="{% static 'main/img/book.jpg' %}" alt="" class="circle responsive-img">
                            <span class="truncate card-title">{{ university.name }}</span>
                            <p class="wc-truncate">{{ university.background }}</p>
                        </a>
                    </div>
                    <div class="card-action">
                      {% if university.website %}
                        <a class="truncate" href="{{ university.website }}" target="_blank">{{ university.website }}</a>
                      {% else %}
                        <a href="#">not available</a>
                      {% endif %}
                    </div>
              </div>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <i class="small material-icons">info_outline</i><p>Oops! No universities are available for now!</p>
    {% endif %}
    {% if universities.has_other_pages %}
        <ul class="pagination">
            {% if universities.has_previous %}
                <li class="waves-effect"><a href="?page={{ universities.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
            {% endif %}
            {% for i in universities.paginator.page_range %}
                {% if universities.number == i %}
                    <li class="active waves-effect"><a href="#">{{ universities.number }}</a></li>
                {% else %}
                    <li class="waves-effect"><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if universities.has_next %}
                <li class="waves-effect"><a href="?page={{ universities.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
            {% endif %}
        </ul>
    {% endif %}
    </div>
{% endblock %}
{% block page_javascript %}
    <script type="text/javascript" src="{% static 'main/js/university/university_list.js' %}"></script>
{% endblock %}
