<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">WC Consultancy</h5>
        <p class="grey-text text-lighten-4">Door 5 Bldg 3, Doña Segunda Complex, Ponciano St., Davao City</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Contact Us!</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" target="_blank" href="https://fb.com/WC-Education-Consultancy-262920817488823/">Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
          <li><span class="grey-text text-lighten-3">wceducationconsultancy@gmail.com</span></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Copyright WC Consultancy
    </div>
  </div>
</footer>
