{% load staticfiles %}

<!doctype html>
<html>
    <head>
        <title>{% block title %}WC CONSULTANCY{% endblock%}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- <link rel="shortcut icon" type="image/x-icon" href="{% static 'site/img/favicon.ico' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'build/site/css/channelhire.css' %}" />
                <link rel="stylesheet" href="{% static 'build/contrib/video/css/player.css' %}" media="screen" title="no title" charset="utf-8"> -->
    </head>

    <body>
        {% block site_header %}
          <!-- {% include 'channelhire/components/site_header.html' %} -->
        {% endblock %}

        {% block main %}{% endblock %}

        <!-- <div id="page-content">
            <div id="messages">
                {% include 'channelhire/message.html' %}
            </div>
            <div id="main-panel" class="popup-limiter">
                {% block main %}{% endblock %}
            </div>
            <div id="sidebar-panel" class="hidden"></div>
        </div> -->

        <!-- {% javascript_variables %}
        <script type="text/javascript">
            function _(parameter) {
                return parameter;
            }
        </script>

        {% javascript 'core/js/lib/require/require-2.1.15' %}
        {% javascript 'core/js/require-config' %}
        {% javascript 'site/js/channelhire' %} -->
        {% block page_javascript %}
        {% endblock %}
    </body>
</html>
