{% load staticfiles %}

<!doctype html>
<html>
    <head>
        <title>{% block title %}WC CONSULTANCY{% endblock%}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="{% static 'main/materialize/css/materialize.css' %}"  media="screen,projection"/>
    </head>

    <body>
        {% block site_header %}
          {% include 'components/site_header.html' %}
        {% endblock %}

        <div class="container">
            {% block main %}{% endblock %}
        </div>

        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{% static 'main/materialize/js/materialize.min.js' %}">
        {% block page_javascript %}
        {% endblock %}
    </body>
</html>
